# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [6]:
# Filter data for Dragon and Grass types
dragon_hp = df[df['Type 1'] == 'Dragon']['HP'].dropna()
grass_hp = df[df['Type 1'] == 'Grass']['HP'].dropna()

# Check for normality using Shapiro-Wilk test
shapiro_dragon = st.shapiro(dragon_hp)
shapiro_grass = st.shapiro(grass_hp)

# Check for variance homogeneity using Levene's test
levene_test = st.levene(dragon_hp, grass_hp)

# Perform independent t-test
t_test = st.ttest_ind(dragon_hp, grass_hp, equal_var=levene_test.pvalue > 0.05)

# Compile results
results = {
    "Shapiro-Wilk Dragon": shapiro_dragon,
    "Shapiro-Wilk Grass": shapiro_grass,
    "Levene's Test": levene_test,
    "T-Test": t_test
}

results

{'Shapiro-Wilk Dragon': ShapiroResult(statistic=0.9635281236696637, pvalue=0.3419890019248819),
 'Shapiro-Wilk Grass': ShapiroResult(statistic=0.9715915656401263, pvalue=0.11214356726520774),
 "Levene's Test": LeveneResult(statistic=1.867317074967163, pvalue=0.17484739934331067),
 'T-Test': TtestResult(statistic=3.590444254130357, pvalue=0.0005135938300306962, df=100.0)}

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [10]:
# Define columns to test
stats_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Split the data
legendary_stats = df[df['Legendary'] == True][stats_columns]
non_legendary_stats = df[df['Legendary'] == False][stats_columns]

# Initialize a dictionary to store the results
results = {}

# Loop through each stat column and perform T-Test
for stat in stats_columns:
    # Shapiro-Wilk Test for normality
    shapiro_legendary = st.shapiro(legendary_stats[stat].dropna())
    shapiro_non_legendary = st.shapiro(non_legendary_stats[stat].dropna())
    
    # Levene's Test for equal variances
    levene_test = st.levene(legendary_stats[stat].dropna(), non_legendary_stats[stat].dropna())
    
    # T-Test (adjust for equal/unequal variances based on Levene's result)
    equal_var = levene_test.pvalue > 0.05
    t_test = st.ttest_ind(legendary_stats[stat].dropna(), non_legendary_stats[stat].dropna(), equal_var=equal_var)
    
    # Store results
    results[stat] = {
        "Shapiro-Wilk Legendary": shapiro_legendary.pvalue,
        "Shapiro-Wilk Non-Legendary": shapiro_non_legendary.pvalue,
        "Levene's Test": levene_test.pvalue,
        "T-Test Statistic": t_test.statistic,
        "T-Test p-value": t_test.pvalue,
        "Equal Variance Assumption": equal_var
    }

print(results)

{'HP': {'Shapiro-Wilk Legendary': 0.008645211266956951, 'Shapiro-Wilk Non-Legendary': 6.930385498829385e-22, "Levene's Test": 0.5758428070138398, 'T-Test Statistic': 8.036124405043928, 'T-Test p-value': 3.3306476848461913e-15, 'Equal Variance Assumption': True}, 'Attack': {'Shapiro-Wilk Legendary': 0.03771789634848271, 'Shapiro-Wilk Non-Legendary': 3.1843612080590274e-08, "Levene's Test": 0.9944645877795636, 'T-Test Statistic': 10.397321023700622, 'T-Test p-value': 7.827253003205333e-24, 'Equal Variance Assumption': True}, 'Defense': {'Shapiro-Wilk Legendary': 0.00430961213067538, 'Shapiro-Wilk Non-Legendary': 1.8918446076661715e-18, "Levene's Test": 0.3203429011757649, 'T-Test Statistic': 7.181240122992339, 'T-Test p-value': 1.5842226094427255e-12, 'Equal Variance Assumption': True}, 'Sp. Atk': {'Shapiro-Wilk Legendary': 0.6240339399453302, 'Shapiro-Wilk Non-Legendary': 1.0736763014225767e-11, "Levene's Test": 0.37014131900583735, 'T-Test Statistic': 14.191406210846289, 'T-Test p-value': 6.314915770427265e-41, 'Equal Variance Assumption': True}, 'Sp. Def': {'Shapiro-Wilk Legendary': 0.008238834358460644, 'Shapiro-Wilk Non-Legendary': 8.430313884525228e-13, "Levene's Test": 0.7764108095205825, 'T-Test Statistic': 11.03775106120522, 'T-Test p-value': 1.8439809580409597e-26, 'Equal Variance Assumption': True}, 'Speed': {'Shapiro-Wilk Legendary': 0.002216855219004437, 'Shapiro-Wilk Non-Legendary': 2.4626530460697836e-07, "Levene's Test": 0.0017862391470896439, 'T-Test Statistic': 11.47504444631443, 'T-Test p-value': 1.049016311882451e-18, 'Equal Variance Assumption': False}}

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [12]:
# School and Hospital coordinates
school_coords = (-118, 34)
hospital_coords = (-122, 37)

In [13]:

# Function to calculate E-distance
def euclidean_distance(coord1, coord2):
    return np.sqrt((coord1[0] - coord2[0]) ** 2 + (coord1[1] - coord2[1]) ** 2)

In [14]:

# Calculate distances
df['Distance_School'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), school_coords), axis=1)
df['Distance_Hospital'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), hospital_coords), axis=1)

In [15]:

# Classify as 'Close' or 'Far'
df['Proximity'] = np.where((df['Distance_School'] < 0.5) | (df['Distance_Hospital'] < 0.5), 'Close', 'Far')

In [16]:

# Split data
close_prices = df[df['Proximity'] == 'Close']['median_house_value']
far_prices = df[df['Proximity'] == 'Far']['median_house_value']

In [17]:


# Normality Test
shapiro_close = st.shapiro(close_prices.dropna())
shapiro_far = st.shapiro(far_prices.dropna())

c:\Users\49151\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 6829.
  res = hypotest_fun_out(*samples, **kwds)
c:\Users\49151\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 10171.
  res = hypotest_fun_out(*samples, **kwds)

In [18]:


# Variance Homogeneity Test
levene_test = st.levene(close_prices.dropna(), far_prices.dropna())

In [19]:


# T-Test
equal_var = levene_test.pvalue > 0.05
t_test = st.ttest_ind(close_prices.dropna(), far_prices.dropna(), equal_var=equal_var)

In [20]:


# Compile results
results = {
    "Shapiro-Wilk Close": shapiro_close.pvalue,
    "Shapiro-Wilk Far": shapiro_far.pvalue,
    "Levene's Test": levene_test.pvalue,
    "T-Test Statistic": t_test.statistic,
    "T-Test p-value": t_test.pvalue,
    "Equal Variance Assumption": equal_var
}

# Display the results
print(pd.DataFrame([results]))

   Shapiro-Wilk Close  Shapiro-Wilk Far  Levene's Test  T-Test Statistic  \
0        7.073883e-54      6.934752e-66       0.020799          37.99233

   T-Test p-value  Equal Variance Assumption
0   3.006496e-301                      False